


/* ---------------               General               --------------- */



@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Pacifico|Prompt:400|Ruda:900|Russo+One');
                                                                                                                    /* DO THE README.md!!! */
html {
    overflow-x: hidden;
}

body {
    background-image: url('assets/background-sm.jpeg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

.page {
    padding-bottom: 40px;
    min-height: 80vh;
}

.page h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.page h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.page p {
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
}

.page h5 {
    font-family: 'Prompt', sans-serif;
    font-style: italic;
}

.clear {
    background-color: transparent;
    height: 30vh;
}

:target:before {
            content: "";
            display: block;
            height: 70px;
            margin: -90px 0 0;
        }




@media (min-width:768px) {
    body {
        padding-top: 50px;
        background-image: url('assets/background.jpeg');
    }
    .page h1 {
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .page p {
        font-size: 14px;
    }
}

@media (min-width:992px) {
    body {
        background-image: url('assets/background-lg.jpeg');
    }
    .page h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        margin-top: 50px;
        margin-left: 25px;
        margin-bottom: 30px;
    }
    .page h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .page p {
        font-size: 16px;
    }
}



/* ---------------               .general               --------------- */

/* ---------------               Nav               --------------- */



.navbar {
    background-color: #000;
    font-family: 'Ruda', sans-serif;
    margin-bottom: 0;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.navbar-toggle,
.navbar-collapse {
    float: right;
}

nav>li>a,
.navbar-default .navbar-nav>li>a {
    transition: all 0.15s ease-in-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #999;
    background-color: transparent;
}

nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    transform: scale(1.2);
    color: #999;
    background-color: transparent;
}

.logo-nav {
    width: auto;
    height: 61px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: -15px;
    margin-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 62px;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.15s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.6);
}





@media (min-width:768px) {
    .logo-nav {
        height: 50px;
    }
}

@media (min-width:992px) {
    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .margin-right {
        margin-right: 30px;
    }
    .navbar-toggle,
    .navbar-collapse {
        font-size: 20px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .logo-nav {
        width: auto;
        height: 75px;
        padding-top: 0px;
        padding-left: 0px;
        margin-top: -30px;
        margin-left: 30px;
    }
}



/* ---------------               .nav               --------------- */

/* ---------------               Home               --------------- */



.home {
    margin-top: 0;
    padding-top: 20vh;
    min-height: 100vh;
}

section .section-header {
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section .section-header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
}

section .section-header h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-top: 15px;
}

.down-arrow {
    font-size: 40px;
    text-align: center;
    margin-top: 30vh;
    animation: bounce 4s infinite;
    animation-delay: 3s;
}

@keyframes bounce {
  0%, 10%, 20% {
    transform: translateY(0);
  }
  5%, 15% {
    transform: translateY(-30px);
  }
}



@media (min-width:768px) {
    section {
        margin-top: 0;
    }
    section .section-header {
        margin-top: 30px;
    }
    section .section-header h1 {
        font-size: 55px;
    }
    section .section-header h3 {
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (min-width:992px) {
    section {
        margin-top: 50px
    }
    section .section-header {
        margin-top: 25px;
    }
    section .section-header h1 {
        font-size: 75px;
    }
    section .section-header h3 {
        font-size: 40px;
        margin-top: 15px;
    }
}



/* ---------------               .home               --------------- */

/* ---------------               Our Story               --------------- */



.dean1 {
    float: right;
    max-height: 30vh;
    margin: 0vh 2vw 2vw 2vw;
    opacity: 0.9;
    padding: 10px 10px 20px 10px;
    border: solid 1px #cbcbcb;
}

@media (min-width:992px){
    .dean1 {
        max-height: 40vh;
        margin: 2vh 2vw 2vw 2vw;
        padding: 20px 20px 40px 20px;
    }
}



/* ---------------               .our story               --------------- */

/* ---------------               Media               --------------- */



.col-xs-12 .note {
    float: right;
    margin-top: 30px;
    margin-right: 80px;
    z-index: -1;
    display: block;
}

.videos {
    margin-top: 15px;
}

iframe {
    border: solid 1px #fff;
}

.carousel-inner img {
    margin: auto;
    max-height: 60vh;
    transition: 0.6s ease-in-out;
}

.carousel-inner img:hover {
    transform: scale(1.25);
    position: relative;
}

.fullscreen {
    display: none;
}

.carousel-inner img:hover .fullscreen {
    display: block;
    color: #fff;
    opacity: 1.0;
}

.carousel-caption {
    display: none;
    margin-bottom: 25px;
}

.carousel-caption:hover {
    display: block;
}

#center-text {
    text-align: center;
}

#click-fs {
    text-align: center;
    margin-top: 5px;
}

#margin {
    margin-top: 15px;
    margin-bottom: 30px;
}

audio {
    display: table;
    margin: 7px auto;
}



/* ---------------               .media               --------------- */

/* ---------------               Testimonials               --------------- */



blockquote {
    font-size: 16px;
    border: none;
    font-style: italic;
    font-family: 'Prompt', sans-serif;
}

blockquote p {
    margin-left: 20px;
}



/* ---------------               .testimonials               --------------- */

/* ---------------               Contact               --------------- */



#contact h5 {
    margin-top: 80px;
    padding-bottom: 25px;
}

.contact-heading {
    margin-top: 40px;
    margin-bottom: 25px;
}

.text-center a {
    text-decoration: underline;
    color: #fff;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

form {
    font-family: 'Prompt', sans-serif;
}

form .col-sm-6,
form .col-xs-12 {
    padding: 1px;
}

button[type="submit"] {
    background: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

button[type="submit"]:focus,
button[type="submit"]:active {
    outline:none !important;
}

section .btn-secondary {
    font-family: 'Ruda', sans-serif;
    padding: 12px 0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    transition: all 0.15s ease-out;
}

section .btn-secondary:hover {
    transform: scale(1.2);
    color: #999;
    background-color: transparent;
}

@media (min-width:992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}



/* ---------------               .contact               --------------- */

/* ---------------               Footer               --------------- */



.footer {
    text-align: center;
    margin-top: -2px;
}

footer a {
    text-decoration: underline;
    color: #fff;
    text-align: center;
}

a:focus, a:hover {
    color: #999;
    text-decoration: underline;
}

footer .social-links {
    padding-top: 15px;
    padding-bottom: 50px;
    list-style: none;
    padding-left: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 8px;
    background-color: transparent;
    transition: all 0.25 ease-in-out;
}

.social-links li a i:hover {
    background-color: #999;
}

.copyright {
    margin-top: 30px;
}




/* ---------------               .footer               --------------- */


