/* ---------------               General               --------------- */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Pacifico|Prompt:400,500|Ruda:900|Russo+One');

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Ruda', sans-serif;
*/

html {
    overflow-x: hidden;
}

body {
    background-image: url('assets/background-sm.jpeg');
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

.page {
    min-height: 95vh;
    /* this only goes to min height and no further as though it's max height */
    padding-bottom: 30px;
    margin: 7px;
    border-radius: 1vh;
}

.page h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.page h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.page p {
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
}

.page h5 {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

.clear {
    background-color: transparent;
    height: 30vh;
}



@media (min-width:768px) {
    body {
        padding-top: 50px;
        background-image: url('assets/background.jpeg');
    }
    .page h1 {
        font-size: 30px;
        /* do i need font-size and margin-top? */
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .page h3 {
        font-size: 16px;
    }
    .page p {
        font-size: 14px;
    }
}

@media (min-width:992px) {
    body {
        background-image: url('assets/background-lg.jpeg');
    }
    .page h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        margin-top: 50px;
        margin-left: 25px;
        margin-bottom: 30px;
    }
    .page h3 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .page p {
        font-size: 16px;
    }
}

/* ---------------               .general               --------------- */

/* ---------------               Nav               --------------- */

.navbar {
    background-color: #000;
                                            /* when the content background is white, can the navbar background change to white too, and change back to black etc? */
    font-family: 'Ruda', sans-serif;
    margin-bottom: 0;
    border: none;
}

/* I want the navbar to be about 5px height until you hover on it, or to enlarge once you scroll, JavaScript? */

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.navbar-toggle,
.navbar-collapse {
    float: right;
}

.current:after {
    position: absolute;
    height: 3px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 35px;
    background-color: #fff;
    border: 1px solid #000;
    bottom: 8px;
}

/* how to make the underline on home change */

nav>li>a,
.navbar-default .navbar-nav>li>a {
    transition: all 0.15s ease-in-out;
}

nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    transform: scale(1.2);
    color: #ccc;
    background-color: transparent;
}

.logo-nav {
    width: auto;
    height: 61px;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: -15px;
    margin-left: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 62px;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.15s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.6);
}



@media (min-width:768px) {
    .logo-nav {
        height: 50px;
    }
}

@media (min-width:992px) {
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .margin-right {
        margin-right: 30px;
    }
    .navbar-toggle,
    .navbar-collapse {
        font-size: 20px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .logo-nav {
        width: auto;
        height: 79px;
        padding-top: 0px;
        padding-left: 0px;
        margin-top: -30px;
        margin-left: 30px;
    }
}

/* ---------------               .nav               --------------- */

/* ---------------               Home               --------------- */

.home {
    margin-top: 0;
    padding-top: 20vh;
    min-height: 100vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

/* a downwards arrow due to the menu being hidden, that scrolls down to our-story */

section .section-header {
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

section .section-header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
}

section .section-header h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-top: 15px;
}



@media (min-width:768px) {
    section {
        margin-top: 0;
    }
    section .section-header {
        font-family: 'Kaushan Script', cursive;
        letter-spacing: 3px;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    section .section-header h1 {
        font-size: 55px;
    }
    section .section-header h3 {
        font-size: 30px;
        margin-top: 10px;
    }
}

@media (min-width:992px) {
    section {
        margin-top: 50px
    }
    section .section-header {
        font-family: 'Kaushan Script', cursive;
        letter-spacing: 3px;
        color: #fff;
        text-align: center;
        margin-top: 25px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    section .section-header h1 {
        font-size: 75px;
    }
    section .section-header h3 {
        font-size: 40px;
        margin-top: 15px;
    }
}

/* ---------------               .home               --------------- */

/* ---------------               Our Story               --------------- */

.dean1 {
    float: right;
    max-height: 40vh;
    margin: -11vh 5vw 5vw 5vw;
    opacity: 0.9;
    padding: 20px 20px 40px 20px;
    border: solid 1px #cbcbcb;
}

/* ---------------               .our story               --------------- */

/* ---------------               Media               --------------- */

.carousel-inner img {
    margin: auto;
    max-height: 60vh;
    transition: 0.6s ease-in-out;
}

.carousel-inner img:hover {
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    opacity: 0.3;
}

.fullscreen {
    display: none;
}

.carousel-inner img:hover .fullscreen {
    display: block;
    color: #fff;
    opacity: 1.0;
}

#center-text {
    text-align: center;
}

#margin {
    margin-top: 15px;
    margin-bottom: 30px;
}

audio {
    display: table;
    margin: 0 auto;
}

/* ---------------               .media               --------------- */

/* ---------------               Testimonials               --------------- */

blockquote {
    font-size: 16px;
    border: none;
    font-style: italic;
    font-family: 'Prompt', sans-serif;
}

blockquote p {
    margin-left: 20px;
}

/* ---------------               .testimonials               --------------- */
